<h1>Stupid coach</h1>
<div class="user-ask">
<p><%=params[:question]%></p>
<em>- You</em>
</div>

<div class="coach-answer">
<%if params[:question] == 'I am going to work'%>
<p>Great !</p>
<em>- Coach</em>
<% elsif params[:question].include?("?") %>
<p>Silly question, get dressed and go to work!</p>
<em>- Coach</em>
<% else %>
<p>I don't care, get dressed and go to work!</p>
<em>- Coach</em>
<%end%>
</div>

<%= link_to "Ask a new question", ask_path, id:"lien" %>